<section id="about-us">
  <div class="container">
    <h2 class="cards-title text-center">MEET THE TEAM</h2>
    <div class="row row-cols-1 row-cols-md-4 mt-3">
      <div class="col-md">
        <div class="card h-100 mt-4">
          <%= image_tag("vandana2.jpg", class: "card-img-top image", size: "50x250") %>
          <div class="card-body">
            <h5 class="card-title">VANDANA</h5>
            <p class="font-italic">Owner/ Director</p>
            <p class="card-text">Vandana has over 22 years of experience in the field of architecture and has worked with a number of architectural firms in India and UK.
              During her career she has worked on a broad range of projects, from large scale luxury housing to renewable energy plants and
              has gained expertise in designing a vast variety of commercial and residential projects.
              She has extensive experience in the execution of projects around the world.</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card h-100 mt-4">
          <%= image_tag("DSC_0072.JPG", class: "card-img-top image", size: "50x250") %>
          <div class="card-body">
            <h5 class="card-title">KANIKA</h5>
            <p class="font-italic">Architectural Technician</p>
            <p class="card-text">Kanika is proficient at analysing and designing spaces. She has expertise in 3D modelling and uses Revit, AutoCAD and Photoshop to develop concepts, working drawings and presentations. Her keen interest in landscape architecture is reflected through her portfolio.</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card h-100 mt-4">
          <%= image_tag("shourya.jpg", class: "card-img-top image", size: "50x250") %>
          <div class="card-body">
            <h5 class="card-title">SHOURYA</h5>
            <p class="font-italic">IT & Web Manager</p>
            <p class="card-text">Shourya is a computer science undergraduate with excellent communication skills and administrative qualities. He is proficient at initiating, co-ordinating and enforcing systems and procedures. His current role involves the management of all online content presented by the company. This involves the upkeep of this website, as well as the email and corresponding contact systems for clients.</p>
          </div>
        </div>
      </div>
<<<<<<< HEAD
      <div class="col">
        <div class="card h-100">
          <%= image_tag("Pragya.jpg", class: "card-img-top image", size: "50x250") %>
=======
      <div class="col-md">
        <div class="card h-100 mt-4">
          <%= image_tag("blank.JPG", class: "card-img-top image", size: "50x250") %>
>>>>>>> 194f7f2eaa3e3662efcbd61885f0d3ba82238b98
          <div class="card-body">
            <h5 class="card-title">PRAGYA</h5>
            <p class="font-italic">Architectural Assistant</p>
            <p class="card-text">Pragya has worked on a number of commercial projects on different stages and scales. She brings with her great graphical experience in high-end architectural design and final presentation using packages like Google Sketch UP, Adobe Illustrator, VRay and AutoCAD.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>