<!DOCTYPE html>
<html>
<head>
  <title>VSDesign Solutions</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta name="robots" content="index, follow">
  <meta name="description" content="VS Design Solutions Ltd is a local architecture firm. We offer a wide range of services, ranging from extensions and conversions to planning permissions.">
</head>
<body>
<header id="navbar">
  <%= render('layouts/header') %>
</header>
  <%= yield %>
<div class="loader-wrapper">
  <span class="loader"><span class="loader-inner"></span></span>
</div>
</body>
</html>
